<html>
  <header>
    <link href="css/about_me_stylesheet.css" rel="stylesheet">
    <meta charset="utf-8">
    <h1>Amy Hunter</h1>
      <ul>
        <li><a href="about_me">About Me</a></li>
        <li><a href="french_poetry">French Poetry</a></li>
        <li><a href="index">Homepage</a></li>
        <li><a href="blog_post">My Blog</a></li>
        <li><a href="project_summary">My Projects </a></li>
      </ul>
  </header>
  <body>
    <%= yield %>
  </body>
  <footer>
    &copy; 2015 Amy Hunter
  </footer>
</html>
