header {
  margin: 50px auto 50px auto;

}

p {
  font-family: Arial;
}

article {
  color: #3333CC;
}

.fav_thing {
  color: #660066;
}

h1 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: 120%;
  margin: auto 50px;
}

h2 {
  font-family: "Lobster", serif;
}

li {
  font-family: "Poiret One", sans-serif;
  font-weight: bold;
  color: #33CC33;
  display: inline;
  list-style-type: none;
  margin: 2em;
}

.arty {
  font-size: 200%;
  border: 3px dotted #003366;

}

.awesome {
  background-color: #CCFFFF;
}

header, footer {
  background-color: #00FFCC;
}

img {
  margin: 50px auto;
}
