body {
  width: 960px;
  margin: auto;
  background-color: #FFB3B3;
}

p {
  font-family: Arial;
}

table {
  font-family: "Fredoka One", serif;
}

article {
  color: #3333CC;
}

.fav_thing {
  color: #660066;
}

h1 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: 120%;
  margin: auto 50px;
}

h2 {
  font-family: "Lobster", serif;
}

li {
  font-family: "Poiret One", sans-serif;
  font-weight: bold;
  color: #33CC33;
  display: inline;
  list-style-type: none;
  margin: 2em;
}

.arty {
  font-size: 200%;
  border: 3px dotted #003366;

}

.awesome {
  border-width: thick;
}

header, footer {
  background-color: #E4E4E4;
}

img#spock {
  display: block;
  margin: auto;
}
